.nav {
    position: absolute;

    svg {
        width: 100%;
    }

    .logo {
        text-transform: uppercase;
        font-size: 3.5em;
        padding: 10px 15px;

        span {
            font-family: 'Raleway';
            color: #fff;
            font-weight: 100;
        }

        p {
            font-family: 'Roboto';
            color: $blue;
            font-weight: 300;
            
        }
    
    }
}